* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  transition: all 0.4s;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar{
    background: transparent ;
    width: 0;
}
img {
  max-width: 100%;
  height: auto;
}
& {
  --main-color: springgreen;
  --bg-color-1: #222;
  --bg-color-2: #111;
  --text-color-1: #eee;
  --text-color-2: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0,0,1,.8);

  --big-fz:calc(25px + (65 - 25)* ((100vw - 300px) / (1500-300)));
  --medium-fz:calc(16px + (35 - 16)* ((100vw - 300px) / (1500-300)));
  --small-fz:calc(12px + (18 - 12)* ((100vw - 300px) / (1500-300)));
}
body{
    background: var(--bg-color-1);
    
}
